/*barra de navegacion*/

.nav{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
}

.nav.active{
    background:#fff;
    padding: 15px;
}

.nav.active a{
    color: #000;
}

.nav.active a:hover{
    background: #000;
    color: #fff;
}

.menu{
    display: flex;
    margin: auto;
}

.menu li{
    list-style: none;
    margin: 10px;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu li a:hover{
    padding: 5px;
    background:#fff;
    color: #000;
    border-radius: 15px;

}



/*cuerpo*/
.main{
    padding-top: 50px;
}

/* index */
.principal{
    display: flex;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    
}
.principal .max-width{
    margin: auto 0 auto 30px;
}
.principal .principal-content .texto1{
    font-size: 27px;
}
.principal .principal-content .texto2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.principal .principal-content .texto3{
    font-size: 40px;
    margin: 5px 0;
}

.principal .principal-content a{
    display: inline-block;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.fondo{
    background-image: url("../../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* pasatiempos*/
.biografia .titulo{
    color: #fff;
    margin-top: 20px;
    font-size: 40px;
}

.biografia .parrafo{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: auto;
    font-weight: 400;
    font-size: 18px;
}

.slide{
   
    margin-top: 30px;
}

#fila h6{
    color: rgb(253, 253, 253);
    text-align: center;

}
#fila .card{
    background-color:rgb(43, 43, 43);

}
#fila .progress-bar{
    margin: auto;
    height: 14px;
    margin-bottom: 8px;
    background-color: rgb(12, 241, 115);
}

/*footer*/


.pie{
    display: flex;
    color: #fff;
    justify-content:space-between;
    
    

}
.pie .num{
    padding: 0 30px 0;
}



.pie .insta{
    color: #fff;
}

/*datos personales*/
.datos .title{ 
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    color: #fff;
}

.datos .personal{
    color: #fff;
}

.datos img {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    object-fit:cover;
}


.datos .datos-content .left img{
    height: 400px;
    width: 400px;
    object-fit: fill;
    float: left;
    margin-right: 30px;
    border-radius: 6px;
    
}
.datos .datos-content .right p{
    text-align: justify; 
    margin-top: 10px;
}
.datos .datos-content .right a{
    display: inline-block;
    background: rgb(17, 17, 17);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    
}
.datos .datos-content .right a:hover{
    color: rgb(10, 10, 10);
    background: none;
}
/*footer de datos personales*/
.footer .pie{
    
    float: left;
    margin-right: 100px;
    margin-top: 100px;
    text-align:end;
    
}
.footer .pie2{
    color: #fff;
    float: left;
    margin-right: 100px;
    margin-top: 20px;
    
}
.footer .pie3{
    color: #fff;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}
footer .pie3 .insta{
    color: #fff;
}


/*conocimientos*/
.academico .title{
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    color: #fff;
    
}
.academico .text{
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.academico .academico-content .column .bars{
    margin-bottom: 17px;
}
.academico .academico-content .column .info{
    color: #fff;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.academico .academico-content .column span{
    font-weight: 500;
    font-size: 20px;
}
.academico .academico-content .column .line{
    height: 6px;
    width: 100%;
    background: rgb(12, 12, 12);
    position: relative;
}
.academico .academico-content .column .line::before{
    content: "";
    position: absolute;
    height: 100%;
    
    background: rgb(12, 241, 115);
}
.academico-content .column .html::before{
    width: 70%;
}
.academico-content .column .css::before{
    width: 60%;
}
.academico-content .column .js::before{
    width: 50%;
}
.academico-content .column .vue::before{
    width: 50%;
}
.academico-content .column .mysql::before{
    width: 60%;
}
.academico-content .column .c::before{
    width: 80%;
}
.academico-content .column .Cchar::before{
    width: 80%;
}
.academico-content .column .java::before{
    width: 40%;
}
.academico-content .column .php::before{
    width: 55%;
}
.academico-content .column .python::before{
    width: 30%;
}

/*imagen de las barras*/

.html2
{
    width: 50px;
     height: 40px;
}


.css2{
    width: 50px;
    height: 40px;
}
.js2{
    width: 50px;
    height: 40px;
}
.vue2{
    width: 50px;
    height: 40px;
    
    
}

.mysql2{
    width: 50px;
    height: 40px;
}


.c2{
    width: 50px;
    height: 40px;
}
.Cchar2{
    width: 50px;
    height: 40px;
}
.java2{
    width: 50px;
    height: 40px;;
}
.php2{
    width: 50px;
    height: 40px;
}

.python2{
    width: 50px;
    height: 40px;
}








